@import "../abstracts/variables";
@import "../mixins/common";
@import "../mixins/responsive";

header{
    .header_content{
        .logo{
            img{
                height: 36px;
            }
        }
        nav{
            // border: $border;
            padding: 32px 0px;
            ul{
                gap: 56px;
                li{
                    a{
                        color: $black;
                    }
                }
            }
        }
        .search{
            button{
                border: 0;
                background: transparent;
                margin-left: 110px;
                cursor: pointer;
                i{
                    font-size: 18px;
                }
            }
        }
    }
}