body {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

div,
section,
form,
ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-family: "Playfair Display", serif;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a,
span,
i {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-family: "Poppins", sans-serif;
}

header .header_content .logo img {
  height: 36px;
}
header .header_content nav {
  padding: 32px 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  header .header_content nav {
    position: relative;
    padding: 10px 0px;
  }
}
header .header_content nav .nav_toggle_btn {
  display: none;
  border: none;
  background-color: #05546D;
  color: white;
  padding: 10px;
  float: right;
  border-radius: 3px;
}
header .header_content nav .nav_toggle_btn:hover {
  background-color: #0F6E8C;
}
@media (min-width: 0px) and (max-width: 767px) {
  header .header_content nav .nav_toggle_btn {
    display: block;
  }
}
header .header_content nav ul {
  gap: 56px;
}
@media (min-width: 0px) and (max-width: 767.9px) {
  header .header_content nav ul {
    position: absolute;
    top: 100%;
    right: -100vw;
    background-color: #05546D;
    height: calc(100vh - 67px);
    width: 70vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    z-index: 999999;
  }
  header .header_content nav ul.active {
    right: -50px;
  }
}
header .header_content nav ul li.close_nav {
  display: none;
}
@media (min-width: 0px) and (max-width: 767.9px) {
  header .header_content nav ul li.close_nav {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
header .header_content nav ul li a {
  color: black;
}
@media (min-width: 0px) and (max-width: 767.9px) {
  header .header_content nav ul li a {
    color: white;
  }
}
header .header_content .search button {
  border: 0;
  background: transparent;
  margin-left: 110px;
  cursor: pointer;
}
@media (min-width: 0px) and (max-width: 767.9px) {
  header .header_content .search button {
    margin-left: 10px;
  }
}
header .header_content .search button i {
  font-size: 18px;
}

.container {
  width: 1400px;
  margin: auto;
}
@media screen and (max-width: 575.9px) {
  .container {
    width: 95%;
  }
}
@media (min-width: 576px) and (max-width: 768.9px) {
  .container {
    width: 576px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .container {
    width: 992px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.9px) {
  .container {
    width: 1200px;
  }
}

.container-fluid {
  width: 95%;
  margin: auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.d-grid {
  display: grid;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.justify-content-flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-content-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.justify-content-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-items-flex-start {
  justify-items: flex-start;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-flex-end {
  justify-items: flex-end;
}

.justify-items-space-between {
  justify-items: space-between;
}

.justify-items-space-evenly {
  justify-items: space-evenly;
}

.justify-items-space-around {
  justify-items: space-around;
}

.align-content-flex-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.align-content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.align-content-flex-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.align-content-space-between {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.align-content-space-evenly {
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.align-content-space-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.align-items-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-items-space-between {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.align-items-space-evenly {
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
}

.align-items-space-around {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.gap-10px {
  gap: 10px;
}

.gap-15px {
  gap: 15px;
}

.gap-20px {
  gap: 20px;
}

.gap-25px {
  gap: 25px;
}

.gap-30px {
  gap: 30px;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.d-none {
  display: none;
}

#banner .banner_content {
  background-image: url("../images/banner.png");
  background-position: bottom right;
  padding-top: 150px;
  padding-bottom: 46px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 0px) and (max-width: 767.9px) {
  #banner .banner_content {
    background-image: none;
    background-image: initial;
    padding-top: 40px;
  }
}
#banner .banner_content .content_top {
  width: 60%;
}
@media (min-width: 0px) and (max-width: 767.9px) {
  #banner .banner_content .content_top {
    width: auto;
    width: initial;
  }
}
#banner .banner_content .content_top h1 {
  font-weight: 700;
  font-size: 90px;
  letter-spacing: 0.02em;
  color: #05546D;
}
@media screen and (max-width: 575.9px) {
  #banner .banner_content .content_top h1 {
    font-size: 30px;
  }
}
@media (min-width: 576px) and (max-width: 768.9px) {
  #banner .banner_content .content_top h1 {
    font-size: 30px;
  }
}
#banner .banner_content .content_top p {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #4F4F4F;
  margin-top: 46px;
  margin-bottom: 42px;
}
@media screen and (max-width: 575.9px) {
  #banner .banner_content .content_top p {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
@media (min-width: 576px) and (max-width: 768.9px) {
  #banner .banner_content .content_top p {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
#banner .banner_content .content_top a {
  padding: 29px 36px;
  background: #094B72;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  letter-spacing: 0.08em;
}
@media screen and (max-width: 575.9px) {
  #banner .banner_content .content_top a {
    padding: 16px 30px;
  }
}
@media (min-width: 576px) and (max-width: 768.9px) {
  #banner .banner_content .content_top a {
    padding: 16px 30px;
  }
}
#banner .content_bottom {
  width: 60%;
  margin-top: 115px;
}
@media screen and (max-width: 575.9px) {
  #banner .content_bottom {
    margin-top: 40px;
    width: auto;
    width: initial;
  }
}
#banner .content_bottom h4 {
  font-size: 22px;
  letter-spacing: 0.04em;
  color: #4F4F4F;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-bottom: 34px;
}
#banner .content_bottom ul {
  display: grid;
  grid-gap: 20px;
  gap: 20px;
  grid-template-columns: 125px 125px;
}
#banner .content_bottom ul li a img {
  height: 28px;
}

#services {
  background: #F2FCFF;
}
#services .service_content {
  display: grid;
  grid-template-columns: 419px 1fr;
  grid-gap: 52px;
  gap: 52px;
  padding: 126px 0px;
}
@media screen and (max-width: 575.9px) {
  #services .service_content {
    padding: 40px 0px;
    display: block;
  }
}
#services .service_content .service_description {
  padding-top: 48px;
}
@media screen and (max-width: 575.9px) {
  #services .service_content .service_description {
    padding: 0px;
  }
}
#services .service_content .service_description h2 {
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.323077px;
}
@media screen and (max-width: 575.9px) {
  #services .service_content .service_description h2 {
    font-size: 30px;
    line-height: 45px;
  }
}
#services .service_content .service_description p {
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #4F4F4F;
  margin-top: 30px;
}
#services .service_content .service_items {
  display: grid;
  grid-template-columns: 256px 256px;
  grid-gap: 30px;
  gap: 30px;
}
@media screen and (max-width: 575.9px) {
  #services .service_content .service_items {
    grid-template-columns: 100%;
    margin-top: 50px;
  }
}
#services .service_content .service_items .item {
  background-color: white;
  border-radius: 8px;
  padding: 24px;
}
#services .service_content .service_items .item .icon img {
  height: 37px;
}
#services .service_content .service_items .item h3 {
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.5px;
  margin-top: 18px;
  margin-bottom: 10px;
}
#services .service_content .service_items .item p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #4F4F4F;
}
/*# sourceMappingURL=style.css.map */